* {
  margin: 0;
  padding: 0;
  font-family: Avenir;
}

@font-face {
  font-family: "Avenir";
  src: url("AvenirLTStd-Medium.ttf") format("truetype");
}
body {
  background-image: url(bg-image.png);
  background-repeat: repeat-y;
}

.bordername {
  border-bottom: 0.5px solid #000000;
  border-lenght: 1920px;
}

.name-container {
  margin: 0 auto;
  margin-top: 19vh;
  height: fit-content;
  width: 65vw;
  font-size: 100px;
  font-weight: 0;
  text-align: center;
  allign-items: center;
}

.bgimage1 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  allign: top;
  z-index: 2;
}

.download-resume-btn {
  background-color: white;
  font-weight: 100;
  font-size: 27px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  justify-content: center;
  background-color: none;
  display: block;
  width: 429px;
  height: 78px;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
}

.download-resume-btn:hover {
  background-color: #000000;
  color: white;
}

.zain {
  margin: none;
  justify-content: center;
  align-items: center;
  height: 105px;
  text-transform: uppercase;
  overflow: hidden;
  display: inline-block;
}

.bodymouse {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 23px;
  height: 34px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 37px;
}

.scroll {
  position: relative;
  width: 2.34px;
  height: 6.75px;
  background: #000000;
  border-radius: 5px;
  margin-top: 5px;
}

.mouse {
  display: flex;
  justify-content: center;
  allign-item: center;
  margin-top: 15vh;
}

.zain span {
  marigin-bottom: 7px;
  animation: animate 10s ease infinite;
  position: relative;
}

@keyframes animate {
  0%, 100% {
    top: 0px;
  }
  20% {
    top: -120px;
  }
  40% {
    top: -240px;
  }
  60% {
    top: -360px;
  }
  80% {
    top: -480px;
  }
}
.scroll {
  animation: animatemouse 2s ease-in-out infinite;
  position: relative;
}

@keyframes animatemouse {
  0% {
    top: 0px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about {
  margin-bottom: 2vh;
  line-height: 100px;
  align-items: center;
  margin-top: 21vh;
  font-size: 90px;
  font-weight: 300;
  letter-spacing: -0.025em;
  text-decoration-line: underline;
}

.who {
  margin-bottom: 2vh;
  margin-right: 50vw;
  margin-top: 13vh;
  font-weight: normal;
  font-size: 45px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #6C6C6C;
}

.desiner {
  margin-bottom: 2vh;
  margin-right: 280px;
  margin-top: 1vh;
  font-weight: 600;
  font-size: 50px;
  line-height: 130px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

.description {
  margin-left: 200px;
  margin-bottom: 2vh;
  font-weight: normal;
  font-size: 37px;
  line-height: 58px;
  letter-spacing: -0.025em;
  color: #6C6C6C;
}

/*# sourceMappingURL=style.css.map */
