*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Avenir

@font-face
    font-family: 'Avenir'
    src: url('AvenirLTStd-Medium.ttf') format('truetype')
@font-face
    font-family: 'Avenir-55'
    src: url('AvenirLTStd-Roman.ttf') format('truetype')
@font-face
    font-family: 'Avenir-45'
    src: url('AvenirLTStd-Book.ttf') format('truetype')

.body
    background-image: url(bg-image.png)
    background-repeat: repeat-y
    overflow-x: hidden
    background-size: 100%

.name-container
    margin: 0 auto
    margin-top: 19vh
    height: fit-content
    width: 65vw
    font-size: 100px
    font-weight: 00
    text-align: center
    allign-items: center

.bgimage1
    position: absolute
    width: 1920px
    height: 1080px
    allign: top
    z-index: 2

.download-resume-btn
    font-family: Avenir-55
    background-color: white
    font-weight: 100
    font-size: 27px
    line-height: 36px
    display: flex
    align-items: center
    text-align: center
    letter-spacing: -0.025em
    text-transform: uppercase
    justify-content: center
    background-color: none
    display: block
    width: 429px
    height: 78px
    border: 1px solid black
    margin: 50px auto
    cursor: pointer

.download-resume-btn:hover
    background-color: #000000
    color: white
.zain
    margin: none
    justify-content: center
    align-items: center
    height: 105px
    text-transform: uppercase
    overflow: hidden
    display: inline-block

.bodymouse
    margin-bottom: 34vh
    display: flex
    justify-content: center
    position: absolute
    width: 23px
    height: 34px
    border: 2px solid #000000
    box-sizing: border-box
    border-radius: 37px
.scroll
    position: relative
    width: 2.34px
    height: 6.75px
    background: #000000
    border-radius: 5px
    margin-top: 5px
.mouse
    display: flex
    justify-content: center
    allign-item: center
    margin-top: 27vh

.zain span
    marigin-bottom: 7px
    animation: animate 10s ease infinite
    position: relative

@keyframes animate
    0%,100%
        top: 0px
    20%
        top: -120px
    40%
        top: -240px
    60%
        top: -360px
    80%
        top: -480px

.scroll
    animation: animatemouse 2s ease-in-out infinite
    position: relative

@keyframes animatemouse
    0%
        top: 0px
    50%
        top: 5px
    100%
        top: 0px
// <!-- ------------------------------------------About----------------------------------------------------------------------------------------->
.about-all
    margin-top: 30vh
.about-container
    text-align: center
.info
    margin-top: 12vh
    margin-left: 29vw
    text-align: left
.about
    font-family: Avenir-55
    line-height: 100px
    font-size: 60px
    letter-spacing: -0.025em
    text-decoration-line: underline
.whos
    font-family: Avenir-55
    font-size: 35px
    letter-spacing: 0.25em
    text-transform: uppercase
    color: #6C6C6C

.desiner
    font-size: 43px
    line-height: 130px
    letter-spacing: -0.025em
    text-transform: uppercase

.description
    font-size: 30px
    line-height: 58px
    letter-spacing: -0.025em
    color: #6C6C6C
    width: 900px
    // <!-- ------------------------------------------Project----------------------------------------------------------------------------------------->
.project-container
    text-align: center
    
.project
    font-family: Avenir-55
    line-height: 100px
    margin-bottom: 10vh
    margin-top: 30vh
    font-size: 60px
    letter-spacing: -0.025em
    text-decoration-line: underline
.cardsvibe
    margin-top: 15vh
    display: flex
    justify-content: space-evenly
.card
    background-color: #000000
    color: white
    width: 414px
    height: 582px
    text-align: left

.text
    margin-top: 3vh
    margin-left: 2vw
    margin-bottom: -1vh
.image2
    display: none

.year
    margin-bottom: 1vh
    font-size: 14px
    line-height: 251.4%
    letter-spacing: 0.3em

.project-discription
    width: 270px
    font-size: 20px
    line-height: 28px

.study
    display: flex
    margin-top: 1vh
    font-size: 14px
    line-height: 39px
    align-items: center
    svg
        margin-left: 0.8vw
// <!-- ------------------------------------------Contact----------------------------------------------------------------------------------------->
.Contact-me
    margin-top: 20vh
    text-align: center
    font-size: 60px
    line-height: 100px
    letter-spacing: -0.025em
    text-decoration-line: underline

.feel-free
    margin-top: 5vh
    text-align: center
    font-size: 43px
    line-height: 100px
    letter-spacing: -0.025em
    text-transform: uppercase
    color: #6C6C6C

.social-container1
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin-left: 29vw
    margin-bottom: 10vh
.social-container2
    display: flex
    flex-direction: column
    justify-content: flex-end
    margin-left: 29vw
    margin-bottom: 10vh
    margin-top: -36vh

.email
    background-image: url(gmail.png)
    font-family: Avenir-45
    font-size: 20px
    width: 30px
    height: 30px
    border-radius: 30px
    text-decoration-line: underline
    margin-top: 9vh

    p
        margin-left: 3vw
        width: 90px
.insta
    background-image: url(Insta.png)
    font-family: Avenir-45
    font-size: 20px
    width: 30px
    height: 30px
    border-radius: 30px
    text-decoration-line: underline
    margin-top: 9vh
    p
        margin-left: 3vw
        width: 90px
.facebook
    background-image: url(facebook.png)
    font-family: Avenir-45
    font-size: 20px
    width: 30px
    height: 30px
    border-radius: 30px
    text-decoration-line: underline
    margin-top: 9vh
    p
        margin-left: 3vw
        width: 90px
.behance
    background-image: url(behance.png)
    font-family: Avenir-45
    font-size: 20px
    width: 30px
    height: 30px
    border-radius: 30px
    text-decoration-line: underline
    margin-top: 9vh
    p
        margin-left: 3vw
        width: 90px
.dribble
    background-image: url(dribbble.png)
    font-family: Avenir-45
    font-size: 20px
    width: 30px
    height: 30px
    border-radius: 30px
    text-decoration-line: underline
    margin-top: 9vh
    p
        margin-left: 3vw
        width: 90px
.git
    background-image: url(git.png)
    font-family: Avenir-45
    font-size: 20px
    width: 30px
    height: 30px
    border-radius: 30px
    text-decoration-line: underline
    margin-top: 9vh
    p
        margin-left: 3vw
        width: 90px
// // <!-- ------------------------------------------Desktop----------------------------------------------------------------------------------------->
@media screen and (min-width:1440px) and (max-width:1920px)
// <!-- ------------------------------------------mobile query----------------------------------------------------------------------------------------->

@media screen and (min-width:320px) and (max-width:420px)
    .name-container
        display: flex
        flex-direction: column
        align-items: center
        font-size: 37px
    .zain
        margin-top: 1vh
        width: 200rem
        height: 39px

    @keyframes animate
        0%,100%
            top: 0px
        20%
            top: -43px
        40%
            top: -85px
        60%
            top: -132px
        80%
            top: -175px

    .download-resume-btn
        margin-top: 10vh
        font-size: 14px
        width: 200px
        height: 40px
    .bodymouse
        margin-bottom: 34vh
        display: flex
        justify-content: center
        position: absolute
        width: 17px
        height: 25px
        border: 2px solid #000000
        box-sizing: border-box
        border-radius: 37px
    .scroll
        width: 2px
        height: 6px

    .mouse
        display: flex
        justify-content: center
        allign-item: center
        margin-top: 30vh

    .iam
        margin-top: 8vh

    body
        background-image: url(bg-image-mobile.png)

    .about-all
    .about-container
        text-align: center
    .info
        text-align: left
        margin-left: 8vw
    .about
        font-size: 33px
        letter-spacing: -0.025em
        line-height: 17px
    .whos
        font-size: 18px
        letter-spacing: 0.2em
        line-height: 18px
    .desiner
        line-height: 30px
        font-size: 18px
        text-transform: uppercase
        line-height: 80px
    .description
        font-size: 20px
        line-height: 30px
        letter-spacing: -0.035em
        width: 335px     

            // <!-- ------------------------------------------Project----------------------------------------------------------------------------------------->
    .project-container
        text-align: center
    .project
        line-height: 80px
        margin-bottom: 1vh
        margin-top: 20vh
        font-size: 33px
    .cardsvibe
        margin-top: 15vh
        display: flex
        justify-content: space-evenly
        flex-direction: column
        height: 1230px
    .card
        width: 259px
        height: 400px
        text-align: left
        margin: 0 auto
    .text
        margin-top: 5vh
        margin-left: 7vw
        margin-bottom: -1vh
    .img1
        display: none
    .img2
        // display: none

    .year
        margin-bottom: 1vh
        font-size: 11px

    .project-discription
        width: 220px
        font-size: 15px
        line-height: 28px

    .study
        display: flex
        margin-top: 1vh
        font-size: 11px
        line-height: 39px
        align-items: center
        svg
            margin-left: 0.8vw
    // <!-- ------------------------------------------Contact----------------------------------------------------------------------------------------->
    .Contact-me
        margin-top: 10vh
        font-size: 33px
        line-height: 60px

    .feel-free
        font-size: 17px
        line-height: 50px

    .social-container1
        text-align: center
        margin-left: 10vw
        margin-bottom: 10vh

    .social-container2
        margin-left: 49vw
        margin-bottom: 10vh
        margin-top: -39vh

    .email
        font-size: 14px
        width: 30px
        height: 30px
        margin-top: 9vh

        p
            margin-left: 10vw
    .insta
        font-size: 14px
        width: 30px
        height: 30px
        margin-top: 9vh

        p
            margin-left: 10vw

    .facebook
        font-size: 14px
        width: 30px
        height: 30px
        margin-top: 9vh

        p
            margin-left: 10vw

    .behance
        font-size: 14px
        width: 30px
        height: 30px
        margin-top: 9vh

        p
            margin-left: 10vw
    .dribble
        font-size: 14px
        width: 30px
        height: 30px
        margin-top: 9vh

        p
            margin-left: 10vw
    .git
        font-size: 14px
        width: 30px
        height: 30px
        margin-top: 9vh

        p
            margin-left: 10vw